[Desktop Entry]
Type=Link
Name=OpenOffice 4.1.15
Icon=openoffice4-startcenter
URL=/usr/share/applications/openoffice4-startcenter.desktop
Name[en_US]=OpenOffice
